<div>
    <h2>Mon Compte</h2>
    <p>
        <a href="{{ path('account.auth.update') }}">Mes informations</a>
        <br />
        <a href="{{ path('account.auth.password.update') }}">Modifier son mot de passe</a>
    </p>
</div>