<li>
    Mon Compte
    <ul>
        <li>
           <a href="{{ path('account.auth.update') }}">Mes informations</a>
        </li>
        <li>
            <a href="{{ path('account.auth.password.update') }}">Modifier son mot de passe</a>
        </li>
    </ul>
</li>